# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
crawl_output/
subdomains.txt
visited_urls.txt
crawler_config.json

# VS Code settings (optional, if you're using VS Code)
.vscode/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Pydantic compiled files
*.pydantic

# dotenv
.env
.env.*

# Editor-specific files
*.sublime-project
*.sublime-workspace
.idea/
*.iml
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
crawl_output/visited_urls.txt
crawl_output/subdomains.txt
crawler_config.json
